
body{
    background-color: rgb(37, 37, 37);
    overflow: hidden;
}
.header{
    align-items: center;
    display: flex;
    flex-direction: row;
    background-color: black;
    border-radius: 10px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-right: 10px;
    margin-left: 10px;
}
.links{
    display: flex;
    margin-left: 50px;
}
.links a{
    transition:transform .5s;
    color: hsl(139, 47%, 44%);
    margin: 25px;
    text-decoration: none;
    
}
.links a:hover{
    
    color: white;
    transform: scale(2);
}
.logo{
    transition:transform 2s;
    transform-origin: 50% 50%;
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    margin-left: 10px;
}
.logo:hover{
    transform: rotate(720deg);
}



.sociale{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    color: white;
    padding: 5px 8px;
    margin-right:6px;
}

.social{
    text-align: center;
    margin: 20px 0;
    padding: 20px;
}
.social button{
    display: inline-block;
}

.sociale img{
    width: 50px;
    height: 50px;
}



.linea{
    width: 80%;
    margin-left: 10vw;
    margin-right: 10vw;
}

#test{
    display: none;
}
#discord{
    transition: width 1s;
}
#github{
    transition: width 1s;
}
#instagram{
    transition: width 1s;
}
#youtube{
    transition: width 1s;
}

.descrizione{
    text-align: center;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border: 3px black solid;
    border-radius: 500px;
    height: 200px ;
    background-color: hsl(139, 46%, 35%);
}
.descrizione p{
    font-size: 25px;
    margin-top: 10px;
    color: white;
    margin-right: 200px;
    text-align: center;
}
.descrizione a{
    font-size: 23px;
    background-color: red;
    margin-right: 50px;
    color: white;
    text-decoration: none;
}
.descrizione button{
    
    float: left;
}
.socialedes{
    width: 200px;
    height: 200px;
    background-color: hsl(139, 47%, 44%);
    border-radius: 100px;
    border: none;
    color: white;

}
.socialedes img{
    width: 100px;
    height: 100px;
}

#info2discord{
    display: none;
}
#info2github{
    display: none;
}
#info2instagram{
    display: none;
}
#info2youtube{
    display: none;
}

#discord{
    background-color: purple;
}
#github{
    background-color: black;
}
#instagram{
    background-image: url("images/backgroundinstagram.jpg");
}
#youtube{
    background-color: red;
}

