*{
    box-sizing: border-box;
}


body{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

element::-webkit-scrollbar {
    display: none;
}


::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: greenyellow; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: green; 
  }

  
.header{
    position: relative;
    width: 80%;
    align-items: center;
    display: flex;
    flex-direction: row;
    background-color: rgb(29, 29, 29);
    border-radius: 50px;
    margin: auto auto;
    box-shadow: -4px 4px 10px rgb(17, 17, 17);
    z-index: 5;
}
.links{
    display: flex;
    margin-left: 50px;
}
.links a{
    
    font-size: 20px;
    transition:transform .5s;
    color: hsl(139, 47%, 44%);
    margin: 25px;
    text-decoration: none;
    
}
.links a:hover{
    transition: .5s;
    text-shadow: #3f3f3f 10px 10px 3px;
    color: white;
    transform: scale(1.5);
}
.logo{
    cursor: grab;
    transition:transform 2s;
    transform-origin: 50% 50%;
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    margin-left: 10px;
}
.logo:hover{
    transform: rotate(720deg);
}

.linea{
    width: 80%;
    margin-left: 10vw;
    margin-right: 10vw;
}

.shiny{
    margin-top: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.shiny li{
    position: relative;
    list-style: none;
    margin: 10px;
}
.shiny li a{
    position :relative;
    width: 80px;
    height: 80px;
    display: inline-block;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 2em;
    border: 1px solid rgba(255,255,255,0.4);
    box-shadow: 0 5px 45px rgb(0,0,0,0.1);
    backdrop-filter: blur(2px);
    transition: .5s;
    overflow: hidden;
}
.shiny li a img{
    width: 80%;
}
.shiny li a:hover{
    transform: translateY(-20px);

}
.shiny li a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    background: rgba(255,255,255,0.5);
    transform: skewX(45deg) translateX(150px);
    transition: .5s;
}

.shiny li a:hover::before{
    transform: skewX(45deg) translateX(-150px);
}

.btn{
    transition: .5s;
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    outline: none;
    border: 2px #090909 solid;
    background: linear-gradient(145deg, #171717, #444245);
    box-shadow: inset 2px 2px 0px #7d7c7e,
    inset -2px -2px 0px #1c1c1c;
    color: white;
}
.btn:hover{
    color: green;
}
.btn span{
    font-size: 2.5em;
}
.btn::before{
    position: absolute;
    content: '';
    height: 1.25em;
    width: 1.25em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(145deg, #262626, #606060);
    box-shadow: 11px 11px 100px #141414, -11px -11px 100px #525252;
    z-index: -1;
}
.btn:active{
    box-shadow: inset 2px 2px 0px #1c1c1c, inset -2px -2px 0px #7d7c7e;
}

#bgvideo{
    width: 1980px;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    top: 0;
    border-style: none;
}



@media screen and (max-width: 1000px){
    
    .links{
        margin-left: 0;
    }
    .logo{
        width: 40px;
        height: 40px;
    }
    .linea{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
   
}









