.title{
    color: white;
    text-align: center;
}
.title a{
    color: white;
    text-decoration: none;
}

.diario{
    background-color: rgb(14, 14, 14);
    margin-left: 20%;
    margin-right: 20%;
    border: 3px black solid;
    border-radius: 10px;
}
.diario p{
    background-color: rgb(44, 44, 44);
    font-size: 25px;
    margin-top: 10px;
    color: white;
    margin-right: 10%;
    margin-left: 10%;
}
.diario h1{
    background-color: rgb(44, 44, 44);
    font-size: 50px;
    margin-top: 10px;
    color: white;
    margin-right: 10%;
    margin-left: 10%;
    text-align: center;
}