.progetti{
    
    float: left;
    background-color: #181818;
    border-radius: 10px;
    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 200px;
    width: 80%;
}
.progetti div{
    margin: 3%;
}
#sx{
    float: left;
    width: 40%;
}
#dx{
    float: right;
    width: 40%;
}

.lavori{
    transition:background-color .5s;
    text-align: center;
    border-radius: 20px;
    background-color: red;
}

.lavori:hover{
    color: hsl(139, 46%, 35%);
    background-color: #1d1d1d;
}