


#cpp{
    font-size: 80%;
    float: left;
    width: 20%;
}
#cpp img{
    width: 100%;
}

.programma1{
    font-size: 100%;
    text-align: center;
    color: white;
    float: right;
    width: 60%;
}

.riga{
    width: 100%;
    height: 100px;
    background-color: white;
    
}

.lavoro{
    width: 80%;
    height: 300px;
    background-color: white;
}
.cpp{
    height: 90%;
    margin: 1%;
    float: right;
    
}

.scrol{
    background-color: rgb(59, 59, 59);
    color: white;
    height: 300px;
    width: 500px;
    float: left;
    overflow: hidden;
    overflow-y: scroll;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}
.scrol p{
    color: red;
}

.include{
    color: rgb(0, 223, 0);
}


@media screen and (max-width: 1000px){
    .progetti{
        width: 100%;
        margin-left: 0;
    }
    .progetti div{
        margin: 3%;
    }
    #sx{
        float: none;
        width: 100%;
    }
    #dx{
        float: none;
        width: 100%;
    }
    .programma1{
        float: none;
        width: 100%;
    }
    .riga{
        width: 100%;
    }
    #cpp img{
        display: none;
    }
}